<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQMQufAY-aQu3-mMl5YdAOGu56ZgCfk3M</string>
	<key>GCM_SENDER_ID</key>
	<string>1017830197280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.taxi.taxi</string>
	<key>PROJECT_ID</key>
	<string>taxi-customer-144e7</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-customer-144e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017830197280:ios:dc3a120c7b28b8652fd445</string>
</dict>
</plist>